In [25]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("resources/data/palindrome_long.xlsx", header=None)

/home/durghy/.local/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
df.head()

          0         1         2         3         4         5
0  0.025097  0.526387  0.752743  0.713214 -1.253205 -0.494206
1  0.349090  0.698177  0.174468 -1.221807  0.523643  0.000003
2 -2.792503  2.443416 -0.174468  1.221807  2.617950 -3.141590
3 -3.116495  2.615206 -0.752743 -0.713214 -1.888388  2.647386
4  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [5]:
df.iloc[4][1]

0.0

In [6]:
new_df = pd.DataFrame()

In [8]:
row_ii = 0
col_ii = 0
for ii in range(len(df)):
    if df.iloc[ii][1] == 0:
        row_ii += 1
        col_ii = 0
    else:
        new_df.loc[row_ii, col_ii] = df.iloc[ii][1]
        col_ii += 1

In [9]:
new_df.head()

         0         1         2         3   4   5   6   7   8   9   10  11
0  0.526387  0.698177  2.443416  2.615206 NaN NaN NaN NaN NaN NaN NaN NaN
1  0.525188  0.697364  2.444228  2.616405 NaN NaN NaN NaN NaN NaN NaN NaN
2  0.524184  0.696800  2.444792  2.617409 NaN NaN NaN NaN NaN NaN NaN NaN
3  0.523029  0.696023  2.445569  2.618563 NaN NaN NaN NaN NaN NaN NaN NaN
4  0.521956  0.695349  2.446244  2.619637 NaN NaN NaN NaN NaN NaN NaN NaN

In [36]:
jj = 0
for ii in new_df[5]:
    print(jj, ii)
    jj += 1

0 nan
1 nan
2 nan
3 nan
4 nan
5 nan
6 nan
7 nan
8 nan
9 nan
10 nan
11 nan
12 nan
13 nan
14 nan
15 nan
16 nan
17 nan
18 nan
19 nan
20 nan
21 nan
22 nan
23 nan
24 nan
25 nan
26 nan
27 nan
28 nan
29 nan
30 nan
31 nan
32 nan
33 nan
34 nan
35 nan
36 nan
37 nan
38 nan
39 nan
40 nan
41 nan
42 nan
43 nan
44 nan
45 nan
46 nan
47 nan
48 nan
49 nan
50 nan
51 nan
52 nan
53 nan
54 nan
55 nan
56 nan
57 nan
58 nan
59 nan
60 nan
61 nan
62 nan
63 nan
64 nan
65 nan
66 nan
67 nan
68 nan
69 nan
70 nan
71 nan
72 nan
73 nan
74 nan
75 nan
76 nan
77 nan
78 nan
79 nan
80 nan
81 nan
82 nan
83 nan
84 nan
85 nan
86 nan
87 nan
88 nan
89 nan
90 nan
91 nan
92 nan
93 nan
94 nan
95 nan
96 nan
97 nan
98 nan
99 nan
100 nan
101 nan
102 nan
103 nan
104 nan
105 nan
106 nan
107 nan
108 nan
109 nan
110 nan
111 nan
112 nan
113 nan
114 nan
115 nan
116 nan
117 nan
118 nan
119 nan
120 nan
121 nan
122 nan
123 nan
124 nan
125 nan
126 nan
127 nan
128 nan
129 nan
130 nan
131 nan
132 nan
133 nan
134 nan
135 nan
136 nan
137 nan
138 nan
139 nan
140 nan
141 nan
142 nan
143 nan
144 nan
145 nan
146 nan
147 nan
148 nan
149 nan
150 nan
151 nan
152 nan
153 nan
154 nan
155 nan
156 nan
157 nan
158 nan
159 nan
160 nan
161 nan
162 nan
163 nan
164 nan
165 nan
166 nan
167 nan
168 nan
169 nan
170 nan
171 nan
172 nan
173 nan
174 nan
175 nan
176 nan
177 nan
178 nan
179 nan
180 nan
181 nan
182 nan
183 nan
184 nan
185 nan
186 nan
187 nan
188 nan
189 nan
190 nan
191 nan
192 nan
193 nan
194 nan
195 nan
196 nan
197 nan
198 nan
199 nan
200 nan
201 nan
202 nan
203 nan
204 nan
205 nan
206 nan
207 nan
208 nan
209 nan
210 nan
211 nan
212 nan
213 nan
214 nan
215 nan
216 nan
217 nan
218 nan
219 nan
220 nan
221 nan
222 nan
223 nan
224 nan
225 nan
226 nan
227 nan
228 nan
229 nan
230 nan
231 nan
232 nan
233 nan
234 nan
235 nan
236 nan
237 2.05036119
238 nan
239 nan
240 nan
241 nan
242 nan
243 nan
244 nan
245 nan
246 nan
247 nan
248 nan
249 nan
250 nan
251 nan
252 nan
253 nan
254 nan
255 nan
256 nan
257 nan
258 nan
259 nan
260 nan
261 nan
262 nan
263 nan
264 nan
265 nan
266 nan
267 nan
268 nan
269 nan
270 nan
271 nan
272 nan
273 nan
274 nan
275 nan
276 nan
277 nan
278 nan
279 nan
280 nan
281 nan
282 nan
283 nan
284 nan
285 nan
286 nan
287 nan
288 nan
289 nan
290 nan
291 nan
292 nan
293 nan
294 nan
295 nan
296 1.79374996
297 1.804499792
298 1.81120392
299 1.816051878
300 1.81984839
301 1.520455274
302 1.825196636
303 1.825196636
304 1.816938441
305 nan
306 nan
307 nan
308 nan
309 nan
310 nan
311 nan
312 nan
313 nan
314 nan
315 nan
316 nan
317 nan
318 nan
319 nan
320 nan
321 nan
322 nan
323 nan
324 nan
325 nan
326 nan
327 nan
328 nan
329 nan
330 nan
331 nan
332 nan
333 nan
334 nan
335 nan
336 nan
337 nan
338 nan
339 nan
340 nan
341 nan
342 nan
343 nan
344 nan
345 nan
346 nan
347 nan
348 nan
349 nan
350 nan
351 nan
352 nan
353 nan
354 nan
355 nan
356 nan
357 nan
358 nan
359 nan
360 nan
361 nan
362 nan
363 nan
364 nan
365 nan
366 nan
367 nan
368 nan
369 nan
370 nan
371 nan
372 nan
373 nan
374 nan
375 nan
376 nan
377 nan
378 nan
379 nan
380 nan
381 nan
382 nan
383 nan
384 nan
385 nan
386 nan
387 nan
388 nan
389 nan
390 nan
391 nan
392 nan
393 nan
394 nan
395 nan
396 nan
397 nan
398 nan
399 nan
400 nan
401 nan
402 nan
403 nan
404 nan
405 nan
406 nan
407 nan
408 nan
409 nan
410 nan
411 nan
412 nan
413 nan
414 nan
415 nan
416 nan
417 nan
418 nan
419 nan
420 nan
421 nan
422 nan
423 nan
424 nan
425 nan
426 nan
427 nan
428 nan
429 nan
430 nan
431 nan
432 nan
433 nan
434 nan
435 nan
436 nan
437 nan
438 nan
439 nan
440 nan
441 nan
442 nan
443 nan
444 nan
445 nan
446 nan
447 nan
448 nan
449 nan
450 nan
451 nan
452 nan
453 nan
454 nan
455 nan
456 nan
457 nan
458 nan
459 nan
460 nan
461 nan
462 nan
463 nan
464 nan
465 nan
466 nan
467 nan
468 nan
469 nan
470 nan
471 nan
472 nan
473 nan
474 nan
475 nan
476 nan
477 nan
478 nan
479 nan
480 nan
481 nan
482 nan
483 nan
484 nan
485 nan
486 nan
487 nan
488 nan
489 nan
490 nan
491 nan
492 nan
493 nan
494 nan
495 nan
496 nan
497 nan
498 nan
499 nan
500 nan
501 nan
502 nan
503 nan
504 nan
505 nan
506 nan
507 nan
508 nan
509 nan
510 nan
511 nan
512 nan
513 nan
514 nan
515 nan
516 nan
517 nan
518 nan
519 nan
520 nan
521 nan
522 nan
523 nan
524 nan
525 nan
526 nan
527 nan
528 nan
529 nan
530 nan
531 nan
532 nan
533 nan
534 nan
535 nan
536 nan
537 nan
538 nan
539 nan
540 nan
541 nan
542 nan
543 nan
544 nan
545 nan
546 nan
547 nan
548 nan
549 nan
550 nan
551 nan
552 nan
553 nan
554 nan
555 nan
556 nan
557 nan
558 nan
559 nan
560 nan
561 nan
562 nan
563 nan
564 nan
565 nan
566 nan
567 nan
568 nan
569 nan
570 nan
571 nan
572 nan
573 nan
574 nan
575 nan
576 nan
577 nan
578 nan
579 nan
580 nan
581 nan
582 nan
583 nan
584 nan
585 nan
586 nan
587 nan
588 nan
589 nan
590 nan
591 nan
592 nan
593 nan
594 nan
595 nan
596 nan
597 nan
598 nan
599 nan
600 nan
601 nan
602 nan
603 nan
604 nan
605 nan
606 nan
607 nan
608 nan
609 nan
610 0.3138022636
611 2.46386632
612 2.708707024
613 2.649249538
614 2.590400366
615 2.530741252
616 2.47141835
617 2.41221443
618 nan
619 nan
620 nan

In [18]:
new_df.columns

Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [35]:
new_df.loc[610]

0    -3.140865
1    -0.000728
2     0.225480
3     0.226573
4     0.241206
5     0.313802
6     0.556754
7     2.584838
8     2.827790
9     2.900387
10    2.915020
11    2.916113
Name: 610, dtype: float64

In [37]:
new_df.to_csv("resources/data/palindromic_theta2.csv")